<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Analyzer</title>
    <link rel="stylesheet" href="test.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  
</section>
        <!-- Home Section Start -->
        <section id="Home" class="home" >
        
          <div class="content" style="margin-top: 2%;">
              <h1 style="font-size: 50px;">AI-powered Nutrition Analyzer for Fitness Enthusiasts</h1><br>
              <h3 style="font-size: 24px;">Nutrition is about eating a healthy and balanced diet. Food and drink provide the energy and nutrients you need to be healthy. Understanding these nutrition terms may make it easier for you to make better food choices.</h3><br>
            </div>
        
          <div class="img">
              <img src="Eating together-pana.png" alt="">
          </div>

          <div class="container" style="font-size: 17px;">
                <div class="row" style="padding-bottom: 5rem;">
                  <div class="col"></div>
                
                <div class="card text-center justify-content-center" style="width: 50rem;">
                  <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 30px;">Analyzer</h5>
                    <p class="card-text">Food consists of nutrients essential for our various nutritional requirements. Food is categorised in seven main food groups according to the main nutrients it contains.</p>
                  </div>
                  <div class="card-body">
                    <input type="file" name="img" style="color: #33C7B7;font-size: 13px;" >
                    <br><br>
                    <a href="image_predict.html"><button>Predict</button></a>                  </div>
                </div>
                <div class="col"></div>
              </div>
            </div>

          <div class="container" style="text-align:center;padding-top:5%;padding-bottom: 7%;">
            <h1 style="font-weight: 1000;font-size: 30px;">What is nutrition?</h1><br><br>
            <p style="text-align:center;font-size:15px">
                Nutrition is the biochemical and physiological process by which an organism uses food to support its life. It provides organisms with nutrients, which can be metabolized to create energy and chemical structures. Failure to obtain sufficient nutrients causes malnutrition. Nutritional science is the study of nutrition, though it typically emphasizes human nutrition.
            </p>
          </div>
  
          <!-- Definitions -->
          <div class="container text-center">
            <div class="row" style="padding-bottom: 5%;">
              <div class="col">
                <h2 style="font-size: 30px;font-weight: 1000;">Calorie</h2>
               <br>
               <p style="font-size: 15px;text-align: justify;">
                A measurement of the energy content of food. The body needs calories as to perform its functions, such as breathing, circulating the blood, and physical activity. When a person is sick, their body may need extra calories to fight fever or other problems.
               </p> 
              </div>
              <div class="col" style="padding-left:5%;padding-right: 5%;">
                <h2 style="font-size: 30px;font-weight: 1000;">Carbohydrates</h2> 
                <br>
                <p style="font-size: 15px;text-align: justify;">
                    Carbohydrates, or carbs, are sugar molecules. Along with proteins and fats, carbohydrates are one of three main nutrients found in foods and drinks.

                    Your body breaks down carbohydrates into glucose. Glucose, or blood sugar, is the main source of energy for your body's cells, tissues, and organs. Glucose can be used immediately or stored in the liver and muscles for later use.              </div>
              <div class="col">
                <h2 style="font-size: 30px;font-weight: 1000;">Proteins</h2>
                <br>
                <p style="font-size: 15px;text-align: justify;">
                    Proteins are the building blocks of life. Every cell in the human body contains protein. The basic structure of protein is a chain of amino acids. You need protein in your diet to help your body repair cells and make new ones.              </div>
          </div>
          <div class="row">
            <div class="col">
             <h2 style="font-size: 30px;font-weight: 1000;">Fiber</h2>
             <br>
             <p style="font-size: 15px;text-align: justify;">
                Fiber is a type of carbohydrate that the body can't digest. Though most carbohydrates are broken down into sugar molecules called glucose, fiber cannot be broken down into sugar molecules, and instead it passes through the body undigested.            </div>
            <div class="col" style="padding-left:5%;padding-right: 5%;">
              <h2 style="font-size: 30px;font-weight: 1000;">Potassium</h2> 
              <br>
              <p style="font-size: 15px;text-align: justify;">
                Potassium is an essential mineral that is needed by all tissues in the body. It is sometimes referred to as an electrolyte because it carries a small electrical charge that activates various cell and nerve functions. Potassium is found naturally in many foods and as a supplement.            </div>
            <div class="col">
              <h2 style="font-size: 30px;font-weight: 1000;">Fat</h2>
              <br>
              <p style="font-size: 15px;text-align: justify;">
                Fats are a type of nutrient that you get from your diet. It is essential to eat some fats, though it is also harmful to eat too much. The fats you eat give your body energy that it needs to work properly. During exercise, your body uses calories from carbohydrates you have eaten.            </p>
            </div>
        </div>
          </div>
</body>
</html>